<div class="center">

    <h2>ログイン</h2>
    <div>
        <mat-form-field>
            <mat-label>ユーザー名</mat-label>
            <input matInput [(ngModel)]="userName">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>パスワード</mat-label>
            <input matInput [(ngModel)]="password" type="password">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>

        <button mat-button color="primary" (click)="login()" [disabled]="!(userName && password)">ログイン</button>
    </div>
</div>