<mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-flat-button routerLink="/" color="primary">
        <h1>家計簿</h1>
    </button>
    <span class="spacer"></span>
    <span id="username">{{authenticator.userName}}</span>
    <button mat-flat-button (click)="openDialog(false)" *ngIf="authenticator.authed()">追加</button>
</mat-toolbar>
<mat-sidenav-container style="grid-row: 2;">
    <mat-sidenav #snav mode="over" style="min-width: 200px;max-width: 100vw;">
        <mat-nav-list>
            <a mat-list-item (click)="snav.toggle()" routerLink="/">ホーム</a>
            <a mat-list-item *ngIf="authenticator.authed()" (click)="snav.toggle()" routerLink="/calendar">カレンダー</a>
            <a mat-list-item *ngIf="authenticator.authed()" (click)="snav.toggle()" routerLink="/settings">設定</a>
            <a mat-list-item *ngIf="authenticator.authed()" (click)="snav.toggle()" routerLink="/annual-report">年間</a>
            <a mat-list-item *ngIf="authenticator.authed()" (click)="snav.toggle() && authenticator.logout()">ログアウト</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>