.center {
  margin: 10px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0px;

  tr {
    td {
      width: 25vw;
      max-width: 200px;
      min-width: 100px;
      height: 50px;
      border-top: #333 1px solid;
      padding: 10px;
      text-align: center;

      .price {
        text-align: right;
      }

      .header {
        font-weight: bold;
        font-size: 1.1em;
      }

    }

    th {
      padding: 0;

      .header {
        font-weight: bold;
        font-size: 1.1em;
      }
    }

  }

}

.buttons {
  display: flex;
  margin: 10px;

  button {
    margin: 0 5px;
  }
}
