table {
  margin: 0 auto;

  tr {
    td {
      width: 25vw;
      max-width: 200px;
      height: 50px;
      border-top: #222;
      text-align: center;
    }

    td.price {
      text-align: right;
    }

    td.header {
      font-weight: bold;
      font-size: 1.1em;
    }

    th.header {
      font-weight: bold;
      font-size: 1.1em;
    }

  }
}

.buttons {
  display: flex;
  margin: 10px;

  button {
    margin: 0 5px;
  }
}
